body{
    margin-left: 100px;
}
#navbars a{
    text-decoration: none;
    padding: 15px 60px;
justify-content: space-between;
width: 100%;
margin-top: 70px;
color: black;
}
.nav{
    display: flex;
    margin-top: 50px;
    gap: 520px;
}
.W{
    font-size: 30px;
    margin-top: -4%;
}
.cubid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: -5%;
}
#cubid{
    width: 700px;
    height: 400px;
}
#first{
    color: white;
    font-weight: 50px;
    font-size: 20px;
    margin-left: 40px;
}
.side{
    background-color: #00001a;
    width: 500px;
    height: 600px;
}
.paragraph{
    margin-left: 40px;
    color: white;
}

#new{
color: orange;
margin-left: 40px;
}
.bright{
    display: flex;
    gap: 90px;
}
.heading1{
    font-size: 50px;
}
button{
    background-color: red;
    color: white;
    padding: 10px;
    width: 100px;
}
.all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
h4{
    color:  grey;
    font-size: 25px;
}
.three{
    display: flex;
    gap: 10px;
}
#three{
    width: 200px;
    height: 200px;
}